[submodule "base-common"]
	path = base-common
	url = https://github.com/drunkflystudio/base-common
[submodule "base-compiler"]
	path = base-compiler
	url = https://github.com/drunkflystudio/base-compiler
